# ==============================
# Dados
# ==============================
data/
data_in/
data_out/


# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo


# ==============================
# Jupyter Checkpoints
# ==============================
.ipynb_checkpoints/


# ==============================
# Ambientes virtuais
# ==============================
.venv/
venv/